body {
    background-color: antiquewhite;

}

main {
    display: flex;
    margin-left: 30%;
    margin-top: 10%;
    margin-right: 30%;
    margin-bottom: 10%;
    box-sizing: border-box;
    background-color: white;
    align-items: center;
    border-radius: 12px;
    width: 630px;
    height: 450px;
    justify-content: space-around;
    
}

.nome {
    margin-top: 7%;
    font-family: 'Fraunces', serif;
    font-size: 35px;
    line-height: 33px;
}

.conteudo {
    margin-right: 30px;
    margin-top: 5%;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

img {
    height: 450px;
    width: 300px;
    margin-right: 40px;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    
}

button {
    width: 225px;
    height: 50px;
    margin-top: 25px;
    margin-bottom: 30px;
    border-radius: 12px;
    border-color: darkgreen;
    background-color: darkgreen;
    font-size: 15px;
    color: white;
    opacity: 90%;
    border-style: none;
}

.valores {
    display: inline-flex;
    align-items: center;
}

.promocao {
    padding-right: 15px;
    font-family: 'Fraunces', serif;
    color: darkgreen;
    font-size: 33px;
    margin-right: 7px;
}

span {
    padding: 10px;
}

p {
    line-height: 23px;
}

@media (max-width: 769px) {

    main {
        width: 600px;
        height: 230vw;
        display: flex;
        border-bottom-right-radius: 12px;
        border-top-right-radius: 12px;
        flex-direction: column;
        justify-content: space-between;
    }

    img {
        width: 600px;
        margin-right: 0px;
        border-bottom-left-radius: 0%;
        border-top-right-radius: 12px;
    }

}